body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background: url(linedpaper.png) repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}
img{
	width: 200px;
}
/*commenting code*/

h1, h2{
	color: green;
	font-weight: 600;
	border: 5px solid purple;
	box-shadow: 1px 1px 10px 2px;
}

/*commenting code*/
h3, h4{
	color: gray;
	font-weight: 600;
	border: 5px solid purple;
	box-shadow: 1px 1px 10px 2px;
}
#summary{
	color: blue;
	word-spacing: 15;
}
#unicorn{
	color: orange;
	/*   outline: 3px solid black;   */
}
.blue{
	color: blue;
}
.orange{
	color: orange;
}
.name {
	font-family: 'Bangers', cursive;
}

